{% load static %}
<script src="{% static 'snap/js/jquery-3.2.1.min.js' %}"></script> 
        <script
              src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
              integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
              crossorigin="anonymous"></script>
              <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 <script src="{% static 'visualisation_boucles/js/d3.min.js' %}"></script>
<script src="{% static 'visualisation_boucles/js/crossfilter.min.js' %}"></script>
<script src="{% static 'visualisation_boucles/js/dc.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'visualisation_boucles/js/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'visualisation_boucles/js/dc.min.css' %}">
<h3>Fichiers sauvegardés ({{user.username}})</h3>

<div id="selectClasse">    
</div>
<div id="selectEleve">   
</div>
<div id="selectFic">   
</div>
<script>
var selectClasse=dc.selectMenu("#selectClasse"),
    selectEleve=dc.selectMenu("#selectEleve"),
    selectFic=dc.selectMenu("#selectFic");
    
var data=[

{% for file in files%}
{ 'classe':"{{file.user.eleve.classe.nom|default:'prof'}}",
    'user':"{{file.user.username}}",
    'nom': "{{file.description}}", 
    'date':"{{file.uploaded_at}}",
    "td":"{{file.uploaded_at|date:'c'}}",
    'id':"{{file.id}}",
    'autosave':("{{file.autosave}}"=="True")
    
},
{%endfor%}
]
//data=data.sort((a,b)=>a-b)
//console.log("data",data)
var sepFic="_-_"
var ndx=crossfilter(data), ngdx=crossfilter(data)    
    classeDim=ndx.dimension(d=>d.classe),
    eleveDim=ndx.dimension(d=>d.user),
    ficDim=ndx.dimension(d=>d.id+sepFic+d.nom+sepFic+d.date+sepFic+d.autosave+sepFic+d.td)
 
selectClasse
   .dimension(classeDim)
   .group(classeDim.group())
   //.promptText("toutes les classes")
   .numberVisible(16)
   .title(d=>(d.key==''?"prof":d.key)+" ("+d.value+")")
selectEleve
   .dimension(eleveDim)
   .group(eleveDim.group())
   .numberVisible(16)
   .title(d=>d.key+" ("+d.value+")")
selectFic
   .dimension(ficDim) 
   .group(ficDim.group())
   .title(function(d) {
       let s=d.key.split(sepFic)
       return s[1]+" ("+(s[3]=="true"?"auto, ":"")+s[2]+")"
   })
   .numberVisible(16)
    .controlsUseVisibility(true)
    .order(function (a,b) {
        let sa=a.key.split(sepFic)[4]
        let sb=b.key.split(sepFic)[4]         
    return sa > sb ? -1 : sb > sa ? 1 : 0;
    })
dc.renderAll()
</script>