{% load static %}
<script src="{% static 'snap/js/jquery-3.2.1.min.js' %}"></script> 
        <script
              src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
              integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
              crossorigin="anonymous"></script>
              <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 <script src="{% static 'visualisation_boucles/js/d3.min.js' %}"></script>
<script src="{% static 'visualisation_boucles/js/crossfilter.min.js' %}"></script>
<script src="{% static 'visualisation_boucles/js/dc.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'visualisation_boucles/js/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'visualisation_boucles/js/dc.min.css' %}">
<h3>Fichiers sauvegardés ({{user.username}})</h3>

<div id="selectClasse">    
</div>
<div id="selectEleve">   
</div>
<div id="selectFic">   
</div>
<script>
var selectClasse=dc.selectMenu("#selectClasse"),
    selectEleve=dc.selectMenu("#selectEleve"),
    selectFic=dc.selectMenu("#selectFic");
    
var data=[

{% for file in files%}
{ 'classe':"{{file.user.eleve.classe.nom}}",
    'user':"{{file.user.username}}",
    'nom': "{{file.description}}", 
    'date':"{{file.uploaded_at}}",
    'id':"{{file.id}}"
    
},
{%endfor%}
]
var sepFic="_-_"
var ndx=crossfilter(data), ngdx=crossfilter(data)    
    classeDim=ndx.dimension(d=>d.classe),
    eleveDim=ndx.dimension(d=>d.user),
    ficDim=ndx.dimension(d=>d.id+sepFic+d.nom+sepFic+d.date)
 
selectClasse
   .dimension(classeDim)
   .group(classeDim.group())
   //.promptText("toutes les classes")
   .numberVisible(16)
   .title(d=>(d.key==''?"(aucune)":d.key)+" ("+d.value+")")
selectEleve
   .dimension(eleveDim)
   .group(eleveDim.group())
   .numberVisible(16)
   .title(d=>d.key+" ("+d.value+")")
selectFic
   .dimension(ficDim)
   .group(ficDim.group())
   .title(function(d) {
       let s=d.key.split(sepFic)
       return s[1]+" ("+s[2]+")"
   })
   .numberVisible(16)
    .controlsUseVisibility(true)

dc.renderAll()
</script>