{% load static %}
<script src="{% static 'snap/js/jquery-3.2.1.min.js' %}"></script> 
<script src="{% static 'snap/js/jquery-ui-1.12.1.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'snap/js/jquery-ui.css' %}">
 <style type="text/css">
 table tbody tr:hover {
    background-color: orange;
    cursor: pointer;
}
</style>
<script type="text/javascript">
  $( document ).ready(function() {      
    //console.log( "ready!" );
    $("#session").hide();
    function log( message ) {
	      $( "<div>" ).text( message ).prependTo( "#log" );
	      $( "#log" ).scrollTop( 0 );
	    }
    $.getJSON('spropen/users', function(data) {
	   //console.log(data);
	   $('#selectEleves').append("<option value='0'>Tous</option>");
	   $.each(data,function (key,user){
	       console.log('user:',user.id,'-',user.eleve?user.eleve.classe:'prof');
	       $('#selectEleves').append("<option value='"+user.id+"'>"+user.username+"("+(user.eleve?user.eleve.classe:'prof')+")"+"</option>");
	       log("ok")
	   }) ;
	   
	   
	});
    $("#envoiEleve").button().click(function(e) {
	 $.getJSON('spropen/'+$("#selectEleves").val()+"/openUser", function(data) {
	     //console.log(data);
	     $("#session").show();
	     $.each(data,function (key,session){
	           //console.log('user:',user.id,'-',user.eleve?user.eleve.classe:'prof');
	           $('#sessions').append("<option value='"+session.id+"'>"+(new Date(session.evenement.creation)).toUTCString()+"("+session.evenement.user+")"+"</option>");	           
	       }) ;
	     
	 })
	
    });
    $("#selectEleves").change(function() {
	log("change"+$("#selectEleves").val())}
    );
    $("#envoiSession").button().click(function(e) {
	   //console.log("clic"+$("#sessions").val());
	   //$.get('open/'+$("#sessions").val()+"/", function(data)
		   $.get('spropen/'+$("#sessions").val()+"/listeOpen", function(data){
	         //console.log("recept"+data);
	         $( "#log" ).html(data);
	         $('table tr').click(function(){
	             alert($(this).text());
	         });
	        });
		   $.get('spropen/'+$("#sessions").val()+"/listeActions", function(data) {
			$("#actions").html(data);	
			
		    });
    });
  
 });
  
  

</script>

<h3>Liste des dernières ouvertures de programme</h3>

  <label for="eleves">Choisir un élève: </label>
  <select  list="listeEleves" id="selectEleves"></select>
  <datalist id="listeEleves">  
  </datalist>
  <input type="submit" id="envoiEleve">
  
  <div id="session">
  <label for="session">Choisir une sessions: </label>
  <select  list="listeSessions" id="sessions"></select>
  <datalist id="listeSessions">  
  </datalist>
  <input type="submit" id="envoiSession">
  </div>
<div class="ui-widget" style="margin-top:2em; font-family:Arial">
  Result:
  <div id="log" style="height: 400px; overflow: auto;" class="ui-widget-content"></div>
</div>

<div class="ui-widget" style="margin-top:2em; font-family:Arial">
  Actions:
  <div id="actions" style="height: 400px; overflow: auto;" class="ui-widget-content"></div>
</div>

