<!DOCTYPE html>
<!-- This code is for demonstration purposes only.  You should not hotlink to Github, Rawgit, or files from the Cytoscape.js documentation in your production apps. -->
<html>
<head>
{% load static %}

<style>
body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
 height: 800px;
  width: 100%;
  background-color: linen;
  left: 0;
  top: 0;
}

</style>
<meta charset=utf-8 />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
<title>Compound nodes</title>
<script src="{% static 'snap/js/cytoscape.min.js' %}"></script>
 
<!-- 
<script src="http://marvl.infotech.monash.edu/webcola/cola.v3.min.js"></script>
<script src="https://unpkg.com/webcola/WebCola/cola.min.js"></script>

  -->
  <script src="{% static 'snap/js/cola.min.js' %}"></script>
<!-- <script src="{% static 'snap/js/cytoscape-cola.js' %}"></script> -->
<script src="{% static 'snap/js/cytocola.js' %}"></script>

</head>
<body>
<div id="cy"></div>
<!-- Load appplication code at the end to ensure DOM is loaded -->
</body>
<script>
//var nodes={{nodes|safe}};
//var edges={{edges|safe}};
//var maxtime={{maxtime}};
//var firstime={{firstime}};
//console.log(tags)
var cy = window.cy = cytoscape({
    container: document.getElementById('cy'),

    boxSelectionEnabled: false,
    autounselectify: true,

    style: [
      {
        selector: 'node',
        css: {
            'shape':'roundrectangle',
            'width':'label',
          'content': 'data(valeur)',
          //'content': function(ele) {return 'ele'+ele.data('valeur')},
          'text-valign': 'center',
          'text-halign': 'center',
          'background-color': function(ele) {
              switch (ele.data('typeMorph')) {
              case 'CommandBlockMorph': return 'lightskyblue';
              case 'CSlotMorph': return 'gainsboro';
              case 'HatBlockMorph': return 'goldenrod';
              case 'InputSlotMorph': return 'lightsteelblue';
              case 'ReporterBlockMorph': return 'forestgreen';
              default: return 'maroon';
             }
             
         },
          
        }
      },
      {
        selector: '$node > node',
        css: {
          // 'color':'red',
          'padding-top': '10px',
          'padding-left': '10px',
          'padding-bottom': '10px',
          'padding-right': '10px',
          'text-valign': 'top',
          'text-halign': 'center',
          'font-size':'1.5em',
          //'text-border-opacity':0.1,
          //'text-border-width': '2 px',
          //'text-border-color':'white',
          'text-outline-opacity':0.1,
          'text-outline-width':'1 px',
          'background-color': function(ele) {
              switch (ele.data('typeMorph')) {
               case 'CommandBlockMorph': return 'lightskyblue';
               case 'CSlotMorph': return 'gainsboro';
               case 'HatBlockMorph': return 'goldenrod';
               case 'InputSlotMorph': return 'lightsteelblue';
               case 'ReporterBlockMorph': return 'forestgreen';
               default: return 'maroon';
              }
              
          },
          'background-opacity':0.4,
          
        }
      },
      {
        selector: 'edge',
        css: {
          //'target-arrow-shape': 'data(arrow)',
          'target-arrow-shape':'triangle',
          //'line-color':'data(color)',
          'visibility': function(ele) {return (ele.data('type')=='child')?'hidden':'visible'},
          /*'line-color': function(ele) {if (ele.data('type')=='child') return 'red';
                                        return 'blue'
          },
          'opacity': function(ele) {if (ele.data('type')=='child') return 0.2;
          return 0.8},*/
          'arrow-scale':1.5,
          
        }
      },
     
      
      {
        selector: ':selected',
        css: {
          'background-color': 'black',
          'line-color': 'black',
          'target-arrow-color': 'black',
          'source-arrow-color': 'black'
        }
      }
    ],

    elements: {
	"nodes":[{"data":{id:"1","valeur":"a","width":60,"height":40}},
	    {'data':{id:"2","valeur":"b","width":60,"height":40}},
	    {'data':{id:"3","valeur":"c","width":60,"height":40}},
	    {'data':{id:"4","valeur":"d","width":60,"height":40}},
	    {'data':{id:"5","valeur":"e","width":60,"height":40}}],
	      
      edges: [
	   {'data':{source:"1",target:"4"}},
	   {'data':{source:"1",target:"3"}}
	  
	  
      ]
    },

    layout: {
      //name: 'circle',
      name: 'cola',
      alignment: function(node) {
	           console.log('nodeid',node.id());
	           switch (node.id()) {
	             case '1' : return {x:0,y:0}; break;
	             case '4' : return {x:0}; break;
	             case '3' : return {y:0}; break;
	             case '2' :return {y:-10}; break;
	           }
	           
	           return null
               }
      //alignment: [{axis:"y", offsets:[{node:"1",offset:0},{node:'4',offset:0}]}],
      //padding: 1,
      //parent: function(node) {
	   //if (node.data['parentId']=='244_init') return '244_init';
	   //return node.data['conteneur'];
      //},
      //positions: function(node) {
	   //console.log(node.data('time'),{x:node.data('time')/maxtime,y:node.data('y')});
	   //return {x:node.data('x'),y:node.data('y')}
	   //if (node.data('time')==0) return {x:50,y:node.data('y')}
	   //return {x:200+800*(node.data('time')-firstime)/(maxtime-firstime),y:node.data('y')}
	   //return {x:800*node.data('time')/maxtime,y:node.data('y')}
      //}
    }
  });
</script>

</html>