<!DOCTYPE html>
<html>
	<head>
	{% load static %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">		
		<title>Snap!4Gironde {{ request.user}}</title>		
		<link rel="shortcut icon" href="favicon.ico">
		<script src="{% static 'snap/js/jquery-3.2.1.min.js' %}"></script> 
		<script type="text/javascript">
		  var userid={{ request.user.id }}
		  var csrf_token="{{ csrf_token }}";
		  var newdate=new Date();
		  var date_debut=newdate;
		  console.info("csrf"+csrf_token);
		//Test envoi
		  function sendJsonData(data) {
		        var XHR = new XMLHttpRequest();
		        //var response = {data:[{"a":1, "b":2},{"a":2, "b":2}]}
		        console.info('data',data);
		        newdate=new Date();
		        data.time=newdate.getTime()-date_debut;
		        var string = JSON.stringify(data);

		        // Define what happens on successful data submission
		        XHR.addEventListener('load', function(event) {
		          //alert('Yeah! Data sent and response loaded.');
		        });

		        // Define what happens in case of error
		        XHR.addEventListener('error', function(event) {
		          alert('Oups! Something goes wrong.');
		        });

		        // Set up our request
		        XHR.open('POST', '/snap/ajax',true);
		        XHR.setRequestHeader('X-CSRFToken',csrf_token);
		        // Add the required HTTP header for form data POST requests
		        XHR.setRequestHeader('Content-type','application/json; charset=utf-8');
		        XHR.setRequestHeader('HTTP_X_REQUESTED_WITH','XMLHttpRequest');
		        //XHR.setRequestHeader("Content-length", string.length);
		        // Finally, send our data.
		        console.info('String:'+string)
		        XHR.send(string);
		      }
		  
		</script>
		<script type="text/javascript">
		//ajout JML
		var UploadXML = function(xml,name) {
		    var form = new FormData();
		  
		    // getCookie: https://docs.djangoproject.com/en/dev/ref/csrf/#acquiring-the-token-if-csrf-use-sessions-is-false
		    form.append('csrfmiddlewaretoken',"{{ csrf_token }}");
		    form.append('description',name);
		    var blob = new Blob([xml], { type: "text/xml"});
		    form.append('document',blob);
		    $.ajax({
		        url: 'up',
		        type: 'POST',
		        data: form,
		        async: true,
		        cache: false,
		        contentType: false,
		        enctype: 'multipart/form-data',
		        processData: false,
		        beforeSend: function() {
		            console.log('Uploading...');
		            //$('.upload-progress').show();
		        },
		        success: function (response) {
		            //$('.upload-progress').hide();
		            console.log('reponse',response);		            
		        },
		        error: function(response) {
		            console.log("error", response);
		            $('.upload-progress').hide();
		        }
		    });
		    return false;
		}
		//fin ajout JML
		</script>
		<script type="text/javascript" src="{% static "snap/safe-json-stringify.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/morphic.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/widgets.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/blocks.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/threads.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/objects.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/gui.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/paint.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/lists.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/byob.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/tables.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/symbols.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/xml.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/store.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/locale.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/cloud.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/sha512.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/FileSaver.min.js" %}"></script>
		<script type="text/javascript">
			var world;
			window.onload = function () {
				world = new WorldMorph(document.getElementById('world'));
                world.worldCanvas.focus();
				new IDE_Morph().openIn(world);
        loop();
			};
			function loop() {
        requestAnimationFrame(loop);
				world.doOneCycle();
			}
		</script>
	</head>
	<body style="margin: 0;">
		<canvas id="world" tabindex="1" style="position: absolute;" />
	</body>
</html>
