<!DOCTYPE html>
<html>
	<head>
	{% load static %}//
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">		
		<title>Snap!4Gironde {{ request.user}}</title>		
		<link rel="shortcut icon" href="favicon.ico">
		<script src="{% static 'snap/js/jquery-3.2.1.min.js' %}"></script> 
		<script src="{% static 'snap/js/jquery-ui-1.12.1.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'snap/js/jquery-ui.css' %}">
		<script type="text/javascript">
		
		  var userid={{ request.user.id }};
		  var userName="{{ request.user.username }}";
		  var userGroup="{{request.user.groups.all.0.name}}"
		  var userCanEditCustomCommand=(userGroup=="prof")  || {{canEditCustomCommand | yesno:"true,false"}}
		  console.log('can edit:',userCanEditCustomCommand)
		  var csrf_token="{{ csrf_token }}";
		  var url_passwordchange="{% url 'password_change' %}"
		  var url_base="{% url 'accueil_prof' %}"
		  var newdate=new Date();
		  var date_debut=newdate;
		  
		  const jml={};
		  jml.userGroup=userGroup
		  jml.SnapAtStart= true
		  jml.SpriteEditorAtLoad=false
		  jml.SpriteEditorAtSave=true
		  jml.autoSave=true
          jml.isProf=function () {
              return (userGroup=="prof")
          }
		  jml.maxSizeBlockSpec=50
		  jml.longBlockSpec="(longBlockSpec)" //separateur ajouté dans detail en cas de blockSpec trop long
		  //console.info("csrf"+csrf_token,"grup",userGroup);
		//Test envoi
		function sendAjaxData(data) {
                var XHR = new XMLHttpRequest();
                                // Define what happens on successful data submission
                XHR.addEventListener('load', function(event) {
                  //alert('Yeah! Data sent and response loaded.');
                });
                
                // Define what happens in case of error
                XHR.addEventListener('error', function(event) {
                  alert('Oups! Something goes wrong.');
                });
                
                // Set up our request
                XHR.open('POST', '/snap/ajax',true);
                XHR.setRequestHeader('X-CSRFToken',csrf_token);
                // Add the required HTTP header for form data POST requests
                XHR.setRequestHeader('Content-type','application/json; charset=utf-8');
                XHR.setRequestHeader('HTTP_X_REQUESTED_WITH','XMLHttpRequest');
                //XHR.setRequestHeader("Content-length", string.length);
                // Finally, send our data.
                
                XHR.send("{image:"+data+"}");
              }
		  function sendJsonData(data) {
		        var XHR = new XMLHttpRequest();
		        //var response = {data:[{"a":1, "b":2},{"a":2, "b":2}]}
		        console.info('data1',data);
		        newdate=new Date();
		        data.time=newdate.getTime()-date_debut;
		        var string = JSON.stringify(data);

		        // Define what happens on successful data submission
		        XHR.addEventListener('load', function(event) {
		          //alert('Yeah! Data sent and response loaded.');
		        });

		        // Define what happens in case of error
		        XHR.addEventListener('error', function(event) {
		          alert('Oups! Something goes wrong.');
		        });

		        // Set up our request
		        XHR.open('POST', '/snap/ajax',true);
		        XHR.setRequestHeader('X-CSRFToken',csrf_token);
		        // Add the required HTTP header for form data POST requests
		        XHR.setRequestHeader('Content-type','application/json; charset=utf-8');
		        XHR.setRequestHeader('HTTP_X_REQUESTED_WITH','XMLHttpRequest');
		        //XHR.setRequestHeader("Content-length", string.length);
		        // Finally, send our data.
		        console.info('String:'+string)
		        XHR.send(string);
		      }
		  
		</script>
		<script type="text/javascript">
		//ajout JML
		var UploadXML = function(xml,name,projectNotes='',base=false,autoSave=false) {
		    var form = new FormData();
		  
		    // getCookie: https://docs.djangoproject.com/en/dev/ref/csrf/#acquiring-the-token-if-csrf-use-sessions-is-false
		    form.append('csrfmiddlewaretoken',"{{ csrf_token }}");
		    form.append('base',base);	            
		    form.append('nom',name);		    
		    if (base) {
			 form.append('description',projectNotes);			
		    } else {
			 form.append('description',name);
		    }
		    form.append('autosave',autoSave)
		    
		    var blob = new Blob([xml], { type: "text/xml"});
		    form.append('document',blob,userName+"_"+name.replace(/\W+/g,"_")+".xml");
		    
		    $.ajax({
		        url: 'up',
		        type: 'POST',
		        data: form,
		        async: true,
		        cache: false,
		        contentType: false,
		        enctype: 'multipart/form-data',
		        processData: false,
		        timeout: 180000,
		        beforeSend: function() {
		            console.log('Uploading XML...');
		            //$('.upload-progress').show();
		        },
		        success: function (response) {
		            //$('.upload-progress').hide();
		            sendEvenement('EPR',{type:autoSave?'SAVEO':'SAVE',detail:response.id});
		            //console.log('reponse',response);		            
		        },
		        error: function(response) {
		            console.log("error", response);
		            $('.upload-progress').hide();
		        }
		    });
		    return false;
		}
		
        var numero_evt=0
        
        
        
        
        var sendEvenement = function(type,data,url=null) {
        {% if user.groups.all.0.name == "eleves" %}
        //console.log('Eleve connecté');
        var newdate=new Date();
        //var time=newdate.getTime()-date_debut;
        var time=newdate.getTime()
        numero_evt+=1;
        const num=numero_evt
        var json={
            evenement:{type:type,time:time,numero:numero_evt},             
            }
        for (var k in data) json[k]=data[k];
        //console.info("envoi",json);
        if (!url) {
           switch (type) {
            case ('ENV'): url='env/'; break;
            case ('SPR'): url='spr/'; break;
            case ('EPR'): url='epr/'; break;
            default: url='evenement/'; break;            
            }
        }
        function sendRequest(secs=3,nb=100,first=true) {
            
                
	        $.ajax({
	            url: url,
	            type: 'POST',
	            headers:{"X-CSRFToken":"{{ csrf_token }}"},
	            data: JSON.stringify(json),
	            async: true,
	            cache: false,
	            contentType: 'application/json',
	            dataType: 'json',
		    timeout: 180000,
	            //processData: true,
	            beforeSend: function() {
	                console.log('Uploading...',json);
	                //console.log('Uploading...');
	                //$('.upload-progress').show();
	                },
	            success: function (response) {
	            //$('.upload-progress').hide();
	                console.log('reponse recue, id=',response.id);  
	                if (!first) {
	                    $("#erreursdiv").append("<div class='jmlerreur'>"+"<temps> "+time+"</temps>"+
                                "<numero>"+num+ "</numero>"+
                                "<data>"+JSON.stringify(json)+"</data>"+
                                "<response>"+JSON.stringify(response)+"</response><ok>1</ok></div")
	                    }
	                },
	            error: function(response) {
	                //console.log("error", response);
	                if (first) {
	                    $("#erreursdiv").append("<div class='jmlerreur'>"+"<temps> "+time+"</temps>"+
                                "<numero>"+num+ "</numero>"+
                                "<data>"+JSON.stringify(json)+"</data>"+
                                "<response>"+JSON.stringify(response)+"</response></div")
                        
	                }
	                if (nb>0) {
	                    let temp=secs/2*(1+Math.random())*1000; //un peu d'aléatoire en cas de surcharge
	                    //console.log('erreur de réception. envoi encore dans ',temp,'s, reste ',nb-1,' essai(s)')
	                    setTimeout(()=>{
	                        sendRequest(secs,nb-1,false)},temp)
	                } else {
	                    $("#erreursdiv").append("<div class='jmlerreur'>"+"<temps> "+time+"</temps>"+
                                "<numero>"+num+ "</numero>"+
                                "<data>"+JSON.stringify(json)+"</data>"+
                                "<response>"+JSON.stringify(response)+"</response><ok>0</ok></div")
                        	                    
	                    alert('oups, quelque chose n\'a pas fonctionné\n'+response.responseText);
	                }
	                $('.upload-progress').hide();
	            }
	         });
        }
        sendRequest()
        return false;
        {% else %}
        console.log("Prof ou admin connecté");
        /*  var json={
                evenement:{type:type},             
                }
            for (var k in data) json[k]=data[k];
        console.log(JSON.stringify(json)); */
        {% endif %}
                        
        }
        	    
            
        
		//fin ajout JML
		</script>
		<script type="text/javascript" src="{% static "snap/safe-json-stringify.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/morphic.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/widgets.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/blocks.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/threads.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/objects.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/gui.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/paint.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/lists.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/byob.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/tables.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/symbols.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/xml.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/store.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/locale.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/cloud.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/sha512.js" %}"></script>
		<script type="text/javascript" src="{% static "snap/FileSaver.min.js" %}"></script>
		<script type="text/javascript">
			var world,ide;
			window.onload = function () {
				world = new WorldMorph(document.getElementById('world'));
                world.worldCanvas.focus();
				ide=new IDE_Morph()
				ide.openIn(world);
				sendEvenement('ENV',{type:'LANCE'});
				loop();
			};
			window.addEventListener("beforeunload", function (event) {
			    // Cancel the event as stated by the standard.
			    event.preventDefault();
			    //console.log('youpi',ide)
			    if (jml.autoSave && !jml.isProf()) {
			        ide.exportProjectToDjango(ide.projectName?ide.projectName:'autosave', false,base=false,autoSave=true);
			        //creation du fichier erreurs
			        var xmldata=[];
			        $(".jmlerreur").each((c,d,e)=>{
			            let st=`<ERREUR nb="${c+1}">`
			            d.childNodes.forEach(a=>st+=`<${a.nodeName}>${a.innerText}</${a.nodeName}>`)
			            st+='</ERREUR>'
			            xmldata.push(st)
			            })
			        if (xmldata.length>0) {
			            //il y a des erreurs, on envoie
			            UploadXML('<?xml version="1.0"?><ERREURS>'
			                    +xmldata.join("\n")
			                    +'</ERREURS>',
			                    ide.projectName+"_ERREURS",
			                    projectNotes='ficher erreur',
			                    base=false,
			                    autoSave=true)
			        }
			        
                }
			    // Chrome requires returnValue to be set.
			    event.returnValue = '';
			  });
			function loop() {
        requestAnimationFrame(loop);
				world.doOneCycle();
			}			
		</script>
	</head>
	<body style="margin: 0;">
		<canvas id="world" tabindex="1" style="position: absolute;" ></canvas>
	</body>
	
</html>
<div id="trucdialog" title="Dialog Title">ee</div>
<div id="erreursdiv"></div>
