{% load static %}
<script src="{% static 'snap/js/jquery-3.2.1.min.js' %}"></script> 
<script src="{% static 'snap/js/jquery-ui-1.12.1.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'snap/js/jquery-ui.css' %}">
 <style type="text/css">
 table tbody tr:hover {
    background-color: orange;
    cursor: pointer;
}
</style>

<h1>Visualisation de l'apparition des boucles</h1>
<h3>Sélection du programme de base</h3>

  <label for="progbase">Choisir un programme de base: </label>
  <select  list="listeProgBases" id="selectProgBase"></select>
  <datalist id="listeProgBases">  
  </datalist>
  <input type="submit" id="envoiProgBase">
  
  <div id="session">
  <label for="session">Choisir une session: </label>
  <select  list="listeSessions" id="sessions"></select>
  <datalist id="listeSessions">  
  </datalist>
  <input type="submit" id="envoiSession">
  </div>
<div class="ui-widget" style="margin-top:2em; font-family:Arial">
  Result:
  <div id="log" style="height: 400px; overflow: auto;" class="ui-widget-content"></div>
</div>

<div class="ui-widget" style="margin-top:2em; font-family:Arial">
  Actions:
  <div id="actions" style="height: 200px; overflow: auto;" class="ui-widget-content"></div>
</div>


<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function() {      
    //console.log( "ready!" );
    $("#session").hide();
    function log( message ) {
          $( "<div>" ).text( message ).prependTo( "#log" );
          $( "#log" ).scrollTop( 0 );
        }
    $.getJSON('progs', function(data) {
       console.log(data);       
       $.each(data,function (key,prg){
           $('#selectProgBase').append("<option value='"+prg.id+"'"+
               "title='"+prg.description+"'"+
               ">"+prg.nom+"</option>");
       }) ;
       
       
    });
    $("#envoiProgBase").button().click(function(e) {
     $.getJSON('progs/'+$("#selectProgBase").val()+"/sessions", function(data) {
         console.log(data);
         $("#session").show();
         $.each(data,function (key,session){
               //console.log('user:',user.id,'-',user.eleve?user.eleve.classe:'prof');
               $('#sessions').append("<option value='"+session.evenement.id+"'>"+(new Date(session.evenement.creation)).toUTCString()+"("+session.evenement.user+")"+"</option>");               
           }) ;
         
     })
    
    });
    $("#selectProgBase").change(function() {
    log("change"+$("#selectProgBase").val())}
    );
    $("#envoiSession").button().click(function(e) {
       //console.log("clic"+$("#sessions").val());
       $.get('actions/'+$("#sessions").val(), function(data){
       console.log("recept",data,d3.select("actions"));
       blocks=d3.select("#actions")
        .selectAll(".block")
        .data(data, function(e){return e.id;}) 
       blocks
        .enter().append("p")
            .attr("class","block")
            .attr("title",function (d) {
        	   console.log("title",d);
        	   return "t:"+d.id+"-"+d.type})
            .text(function(d) {
                switch (d.type){
                case "EPR": return "état  :"+d.evenementepr[0].type; break;
                case "SPR": var spr=d.evenementspr[0];
                            return "statut:"+spr.type+"("+spr.typeMorph+","+spr.blockSpec+")"; 
                            break;
                case "ENV": return "env.  :"+d.environnement[0].type; break;
                default: return "inconnu";
                }
            });
       blocks.text(function(d) {
           switch (d.type){
           case "EPR": return "UPDATEétat  :"+d.evenementepr[0].type; break;
           case "SPR": return "UPDATEstatut:"+d.evenementspr[0].type; break;
           case "ENV": return "UPDATEenv.  :"+d.environnement[0].type; break;
           default: return "UPDATEinconnu";
           }
       });
      blocks.exit().remove();
       //$("#actions").html(data);
       },'json')   
      
    });
  
 });
  
  

</script>
<div id="cyto">ici</div>