{% load static %}
<script src="{% static 'snap/js/jquery-3.2.1.min.js' %}"></script> 
<script src="{% static 'snap/js/jquery-ui-1.12.1.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'snap/js/jquery-ui.css' %}">
 <style type="text/css">
 table tbody tr:hover {
    background-color: orange;
    cursor: pointer;
}
.cer {
    fill:red;
}
.toolTip {
position: absolute;
 z-index: 10;
    visibility: hidden;
min-width: 80px;
height: auto;
background: none repeat scroll 0 0 darkslategrey;
border-radius: 25px;
border: 2px solid #6F257F;
padding: 14px;
text-align: center;
}
</style>

<h1>Visualisation de l'apparition des boucles</h1>
<h3>Sélection du programme de base</h3>

  <label for="progbase">Choisir un programme de base: </label>
  <select  list="listeProgBases" id="selectProgBase"></select>
  <datalist id="listeProgBases">  
  </datalist>
  <input type="submit" id="envoiProgBase">
  
  <div id="session">
  <label for="session">Choisir une session: </label>
  <select  list="listeSessions" id="sessions"></select>
  <datalist id="listeSessions">  
  </datalist>
  <input type="submit" id="envoiSession">
  </div>
<div class="ui-widget" style="margin-top:2em; font-family:Arial">
  Result:
  <div id="log" style="height: 400px; overflow: auto;" class="ui-widget-content"></div>
  <svg id="mysvg"></svg>
</div>

<div class="ui-widget" style="margin-top:2em; font-family:Arial">
  Actions:
  <div id="actions" style="height: 200px; overflow: auto;" class="ui-widget-content"></div>
</div>


<script src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function() {      
    //console.log( "ready!" );
    $("#session").hide();
    function log( message ) {
          $( "<div>" ).text( message ).prependTo( "#log" );
          $( "#log" ).scrollTop( 0 );
        }
    $.getJSON('progs', function(data) {
       console.log(data);       
       $.each(data,function (key,prg){
           $('#selectProgBase').append("<option value='"+prg.id+"'"+
               "title='"+prg.description+"'"+
               ">"+prg.nom+"</option>");
       }) ;
       
       
    });
    $("#envoiProgBase").button().click(function(e) {
     $.getJSON('progs/'+$("#selectProgBase").val()+"/sessions", function(data) {
         console.log(data);
         $("#session").show();
         $.each(data,function (key,session){
               //console.log('user:',user.id,'-',user.eleve?user.eleve.classe:'prof');
               $('#sessions').append("<option value='"+session.evenement.id+"'>"+(new Date(session.evenement.creation)).toUTCString()+"("+session.evenement.user+")"+"</option>");               
           }) ;
         
     })
    
    });
    $("#selectProgBase").change(function() {
    log("change"+$("#selectProgBase").val())}
    );
    $("#envoiSession").button().click(function(e) {
       //console.log("clic"+$("#sessions").val());
       $.get('actions/'+$("#sessions").val(), function(data){
       console.log("recept",data,d3.select("actions"));
       var index=0; //index horizontal, change si drop/new
       var vindex=0; //index vertical pour non drop/new
       var duplicInfos=null; //infos de duplication
       var otherData=[];
       var newData=[],
           newNodes=null;
       data.forEach(function(d){
	   //on rajoute unchamps pour accès direct à l'évènement spr/epr/env
	   switch (d.type){
           case "EPR": d.infos=d.evenementepr[0]; break;
           case "SPR": d.infos=d.evenementspr[0]; break;
           case "ENV": d.infos=d.environnement[0]; break;
           default: d.infos=null;
	   }
	   //enregistrement des infos de duplication
	   if (d.type=="ENV" && d.environnement[0].type=="DUPLIC") {
	       duplicInfos=d.environnement[0].detail.split(";").length;
	   } 
	   //changement d'index si drop/new
	   if (d.type=="SPR" && (d.evenementspr[0].type=="DROP" || d.evenementspr[0].type=="NEW")) {
		  d.index=index;
		  index+=1;
		  if (duplicInfos != null) {
		      d.duplicInfos=duplicInfos;
		      duplicInfos=null;
		  }
		  vindex=0;
		  if (newNodes!=null) {
		      newData.push(newNodes);
		      newNodes=null;
		  }
		  newData.push(d);		  
	    }
	   else {
	       //changement de vindex sinon
	       d.index=index;
	       d.vindex=vindex;
	       vindex+=1;
	       if (newNodes==null) {
		      newNodes=[d];
	       } else {
		      newNodes.push(d);
	       }
	   }
	   });
       if (newNodes!=null) newData.push(newNodes);
       console.log('nexdata',newData);
       var rects=d3.select("#mysvg")
                .selectAll(".act")
                .data(newData.filter(e=>!Array.isArray(e)),function(e){return e.id;})
                //.data(data.filter(function(e){return e.vindex==null}),function(e){return e.id;})
       rects.enter().append("rect")
            .attr("class","act")
            .attr("width",18)
            .attr("height",10)
            .attr("x",function(d){return d.index*20})
            .append("title")
                .text(function(d){return d.infos.type+"("+d.duplicInfos+")"})
       rects.exit().remove()
       var tooltip=d3.select("#tooltip");
       tooltip.on("mouseover",d=>tooltip.style("visibility","visible"))
              .on("mouseout",d=>tooltip.style("visibility","hidden"))
              .on("click",function(d){
        	   //on ferme seulement si on n'a pas cliqué sur un tp
        	   if (!d3.event.target.classList.contains("tp"))   tooltip.style("visibility","hidden");
              });
       var cers=d3.select("#mysvg")
                .selectAll(".cer")
                .data(newData.filter(e=>Array.isArray(e)),function(e){return e.id;})
                //.data(data.filter(function(e){return e.vindex!=null}),function(e){return e.id;})
       cers.enter().append("circle")
            .attr("class","cer")
            .attr("r",d=>2+d.length)
            .attr("cx",function(d,i){return i*20})
            .attr("cy",function(d){return 5})
            .on("mouseover", d=>{
        	   tooltip.style("visibility","visible");
        	   var t=tooltip.selectAll(".tp").data(d);
               t.enter().append("p").attr("class","tp")
                    .text(e=>e.type+":"+e.infos.type)
                    .on("mouseover",function() {
                	   d3.select(this).style("background-color", "orange");
                    })
                    .on("mouseout",function() {
                	d3.select(this).style("background-color", null);
                    });
               t.text(e=>"(m)"+e.type+":"+e.infos.type)
               t.exit().remove();
        	   
            })
            .on("mousemove", function(d){
        	   tooltip
        	    .style("left", d3.event.pageX - 2 +"px")
                .style("top", d3.event.pageY - (d.length*50/2) + "px")
                
                //.style("display", "inline-block")
                ;
        	 })
            .on("mouseout", d=>{
        	   console.log("kit");
        	   tooltip.style("visibility","hidden");
        	 //tooltip.style("display", "none");});
            });
        	   
            //.append("title")
            //    .text(function(d){return d.type+":"+d.infos.type});
       cers.exit().remove();
       var blocks=d3.select("#actions")
        .selectAll(".block")
        .data(data, function(e){return e.id;}) 
       blocks
        .enter().append("p")
            .attr("class","block")
            .attr("title",function (d) {
        	   console.log("title",d);
        	   return "t:"+d.id+"-"+d.type})
            .text(function(d) {
                switch (d.type){
                case "EPR": return "état  :"+d.evenementepr[0].type; break;
                case "SPR": var spr=d.evenementspr[0];
                            return "statut:"+spr.type+"("+spr.typeMorph+","+spr.blockSpec+")"
                                     +(d.index==null?"-":d.index)+(d.duplicInfos==null?"/":d.duplicInfos); 
                            break;
                case "ENV": return "env.  :"+d.environnement[0].type; break;
                default: return "inconnu";
                }
            });
       blocks.text(function(d) {
           switch (d.type){
           case "EPR": return "UPDATEétat  :"+d.evenementepr[0].type; break;
           case "SPR": return "UPDATEstatut:"+d.evenementspr[0].type; break;
           case "ENV": return "UPDATEenv.  :"+d.environnement[0].type; break;
           default: return "UPDATEinconnu";
           }
       });
      blocks.exit().remove();
       //$("#actions").html(data);
       },'json')   
      
    });
  
 });
  
  

</script>
<div id="tooltip" class="toolTip"><p>ici tooltip</p></div>