
#entete {
    position: fixed;
    top:0;
    left: 0;
    height: 120px;
    width: 100%;
    background-color: beige;
}
#affichage {
	position: fixed;
    top:130px;
    bottom: 110px;    
    width: 100%;
    left: 0;
    /*margin-left: -500px; /* Half of the width */    
    background-color: lavenderblush;
}
#actions {
    position: fixed;
    bottom:0;
    height: 100px;
    width: 100%;
    left: 0;
    /*margin-left: -500px; /* Half of the width */   
    background-color: lightcyan;
}
