.xaxis text {
    text-anchor: end !important;
    transform: rotate(-75deg) translateY(-1.5em);
}

.session :not(.selected) {
    opacity: 0.5;
}

.session .selected {
    opacity: 1;
}

#paging {
    text-align: right;
}

#dc-table-graph {
    width: auto;
}

#dc-table-graph th span {
    /*Glyphicon style*/
    float: right;
    font-size: 1em;
    color: #0080bf;
    display: inline-block;
}

#dc-table-graph th {}

#dc-table-graph td {
    padding: 2px;
}

#dc-table-graph .dc-table-row {
    cursor: pointer;
}

.dc-table-label {
    font-weight: bold;
}

#dc-table-graph > tbody > .dc-table-row:nth-of-type(2n+1) {
    background-color: #e6eff8;
}

#dc-table-graph > tbody > .dc-table-group {
    background-color: #d1dfed;
}

#dc-table-graph > tbody > .dc-table-row.selected {
    background-color: #a6daac;
}

.tippy-content p {
	line-height: 1;
	margin: 0 0 2px;
}
.imagetooltip {
background: none repeat scroll 0 0 lavender;
pointer-events: none;
}

#overlayDiv {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: #bbbbda;
    z-index:998;
    visibility: hidden;
}
#overlayDiv2 {
	overflow: auto;
    white-space: nowrap;
	padding:2em;
	border: 2px solid slategrey;
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: gainsboro;
    z-index:999;
    visibility: hidden;
}
#actionsDiv {
	float:left
}
.block {
font-size:10;
}
.block:hover {
background-color: yellow;
}

.tetescript {
	background-color: DarkGoldenRod;
	border-radius: 8px;
    padding-right: 5px;
    padding-left: 5px;	
}
.script {
	 width : 100%;   
    
}
.script.haschanged {
    background-color: lightblue;
}
.blockcommands {
	display:inline-block;
    width : 20%;    
    vertical-align: top;
	border-style: dotted;
	margin-bottom: 0.5em;
	background-color: lavender;
	white-space: pre-wrap;
}
.blockepr {
	font-size:8;
    width : 8em;    
    background-color: lightblue;
}
.blockepr.start {
	background-color: lightgreen;
}
.blockepr.snpstart {
	background-color: #bdf5bd;
}
.blockepr.end {
	background-color:orange;
}
.blockepr.snpfin {
    background-color: #ffd280;
}
.blockepr.ask {
	background-color: lightblue;
}
 
.blockepr.answ {
	width:auto;
    background-color: lightblue;
}
p.command {
	text-align: left;
	font-size:10;
	margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0.1em;
}
.command span {
	border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;    
}
.ask span, .answ span {
	border-radius: 2px;
    padding-right: 5px;
    padding-left: 5px;
    font-size:10;
}
.command span, .ask span{
	background-color: silver;
}
 span.changed, .answ span {
	background-color: teal;
}
p.action {
	font-style: italic;
	color: red;
	font-size:12;
}

p.CommentMorph {
	font-style: normal;
	color: cadetblue;
}
.separation {
    background-color: lightsteelblue;
    font-size:10;
}

#overlayDiv2 .btn {
	background-color: #b7bfc8;
	position: sticky;
	left:0;
	top:0;
}

.progress {
   width:75%;
   background:yellow;
  }
  #bar {
   height:15px;
   width:0%;
   background:tomato;
   text-align:right;
  }
  .taskProgress {
    white-space: normal;
    width:250px;
    z-index:999;
    background-color: lightblue;
    position:absolute; 
    top:140px;
    left:40px;
  }
  
  .noboucle {
    opacity: 0.6;
  }
  .boucle {
   /*stroke:gainsboro;*/
   
  }
  .noboucle .evtline  {
   stroke:grey;   
  }
  .boucle .evtline {
  stroke:slategrey;
  }
  
  [notselected] {
    fill: grey;
  }
  .linenbcommandes {
    fill: none;    
    stroke-width: 1.5;
}
 .linenbtotalcommandes {
    fill: none;
    stroke: black;
    stroke-width: 3;
}

.dotcircle {
 cursor: pointer;	
}
.dotcircle.focus {
	stroke:black;
	stroke-width: 3;
}
.tippy-backdrop {
  width: 640px !important;
  }
  
 .snapimage, .snapimageforexport {
    width:50px;
    position: relative;
    /**opacity: 0.5;**/
    transition: 0.3s ease;
    cursor: pointer;
    /*z-index:1;*/
 }
 .snapimageforexport:hover {
    width:450px;
    position: sticky;
    z-index:1501;
    /**opacity: 1;**/

    /** default is 1, scale it to 1.5 */
    /**transform: scale(1.5, 1.5);*/

    /** translate 50px from left, and 40px from top */
    /**transform: translate(10px, 10px); */

    /** combine both scale and translate */
    /**transform: scale(1.5, 1.5) translate(50px, 40px);*//
 }